@use "../utils/utils" as *;

.memo {
    margin: 30px auto 100px;

    .title {
        width: calc(100% - 40px);
        max-width: 480px;
        margin: 0 auto 20px;

        .head {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;

            h1 {
                font-size: 2.4rem;
            }

            .sign-btn {
                color: $gray-color-thin;
                border: none;
                background: none;
            }
        }

        .lead-items {
            margin: 0 0 20px 0;

            .lead-item {
                display: flex;
                gap: 0 5px;
                font-size: 1.2rem;
                line-height: 1.5;
                color: $base-color;
            }
        }

        .filters {
            display: flex;
            justify-content: space-between;

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                color: $white-color;
                width: calc(100% / 2 - 5px);
                padding: 6px 10px 8px;
                border-radius: 4px;
                border: none;
                outline: none;
            }

            .y-select {
                background: $primary-color;
            }

            .m-select {
                background: $secondary-color;
            }
        }
    }

    .post-wrap {

        h3,
        p {
            width: calc(100% - 40px);
            max-width: 480px;
        }

        h3 {
            font-size: 2rem;
            color: $primary-color;
            margin: 0 auto 10px;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.5;
            color: $gray-color-thin;
            margin: 0 auto 20px;

            small {
                display: block;
            }
        }

        .posts {
            margin: 0 0 20px 0;

            .post {
                text-align: justify;
                font-size: 1.4rem;
                line-height: 1.5;
                padding: 10px 0;
                border-top: 1px solid rgba($color: $base-color, $alpha: 0.1);

                &:last-child {
                    border-bottom: 1px solid rgba($color: $base-color, $alpha: 0.1);
                }

                .inner-post {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: calc(100% - 40px);
                    max-width: 480px;
                    margin: 0 auto;

                    .post-text {
                        width: 100%;
                        margin: 0 0 5px 0;

                        a {
                            color: $primary-color;
                            border-bottom: 1px dashed $primary-color;
                        }
                    }

                    .edit-text {
                        width: 100%;
                        border: none;
                        outline: none;
                        background: none;
                        margin: 0 0 5px 0;
                        padding: 0 0 5px 0;
                        border-bottom: 1px dashed $gray-color-thin;
                    }

                    .btn-wrapper {
                        display: flex;
                        gap: 0 20px;

                        .edit-btn {
                            color: $gray-color-thin;
                            border: none;
                            background: none;
                        }
                    }
                }
            }
        }
    }

    .form {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $gray-color-thin;
        position: fixed;
        inset: auto 0 0 0;
        z-index: 1000;
        width: 100%;
        box-sizing: border-box;

        .input-text {
            width: 80%;
            padding: 20px;
            border: none;
            outline: none;
            background: $white-color;
            box-sizing: border-box;
        }

        .input-btn {
            font-size: 2rem;
            color: $base-color;
            width: 20%;
            padding: 20px;
            background: $white-color;
            border: none;
        }
    }

}